@import "tailwindcss";

/* include utility classes in streamdown */
@source '../node_modules/streamdown/dist/index.js';

/* custom variant for setting dark mode programmatically */
@custom-variant dark (&:is(.dark, .dark *));

/* include plugins */
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);
  --primary: rgb(247, 165, 40);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(246, 217, 53);
  --secondary-foreground: rgb(75, 85, 99);
  --muted: rgb(249, 250, 251);
  --muted-foreground: rgb(107, 114, 128);
  --accent: rgb(255, 251, 235);
  --accent-foreground: rgb(146, 64, 14);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(229, 231, 235);
  --input: rgb(229, 231, 235);
  --ring: rgb(245, 158, 11);
  --chart-1: rgb(245, 158, 11);
  --chart-2: rgb(217, 119, 6);
  --chart-3: rgb(180, 83, 9);
  --chart-4: rgb(146, 64, 14);
  --chart-5: rgb(120, 53, 15);
  --sidebar: rgb(249, 250, 251);
  --sidebar-foreground: rgb(38, 38, 38);
  --sidebar-primary: rgb(245, 158, 11);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(255, 251, 235);
  --sidebar-accent-foreground: rgb(146, 64, 14);
  --sidebar-border: rgb(229, 231, 235);
  --sidebar-ring: rgb(245, 158, 11);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --scroll-bar-background: rgba(38, 38, 38, 0);
}

.dark {
  --background: rgb(23, 23, 23);
  --foreground: rgb(229, 229, 229);
  --card: rgb(38, 38, 38);
  --card-foreground: rgb(229, 229, 229);
  --popover: rgb(38, 38, 38);
  --popover-foreground: rgb(229, 229, 229);
  --primary: rgb(245, 158, 11);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(229, 229, 229);
  --muted: rgb(31, 31, 31);
  --muted-foreground: rgb(163, 163, 163);
  --accent: rgb(146, 64, 14);
  --accent-foreground: rgb(253, 230, 138);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(64, 64, 64);
  --input: rgb(64, 64, 64);
  --ring: rgb(245, 158, 11);
  --chart-1: rgb(251, 191, 36);
  --chart-2: rgb(217, 119, 6);
  --chart-3: rgb(146, 64, 14);
  --chart-4: rgb(180, 83, 9);
  --chart-5: rgb(146, 64, 14);
  --sidebar: rgb(15, 15, 15);
  --sidebar-foreground: rgb(229, 229, 229);
  --sidebar-primary: rgb(245, 158, 11);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(146, 64, 14);
  --sidebar-accent-foreground: rgb(253, 230, 138);
  --sidebar-border: rgb(64, 64, 64);
  --sidebar-ring: rgb(245, 158, 11);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --scroll-bar-background: rgba(38, 38, 38, 0.2);
}

/* define theme */
@theme {
  --font-sans: var(--font-manrope);

  --breakpoint-toast-mobile: 600px;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@utility -webkit-overflow-scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

@utility touch-pan-y {
  touch-action: pan-y;
}

@utility overscroll-behavior-contain {
  overscroll-behavior: contain;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
    position: relative;
  }

  html {
    overflow-x: hidden;
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply rounded-md bg-foreground/20 select-none animate-pulse;
  }

  .skeleton-bg {
    @apply bg-foreground/10;
  }

  .skeleton-div {
    @apply bg-foreground/20 animate-pulse;
  }
}

.cm-editor,
.cm-gutters {
  @apply bg-background! dark:bg-zinc-800! outline-hidden! selection:bg-zinc-900!;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
  @apply bg-zinc-200! dark:bg-zinc-900!;
}

.cm-activeLine,
.cm-activeLineGutter {
  @apply bg-transparent!;
}

.cm-activeLine {
  @apply rounded-r-sm!;
}

.cm-lineNumbers {
  @apply min-w-7;
}

.cm-foldGutter {
  @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
  @apply rounded-l-sm!;
}

/* minimal scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 3px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: --alpha(var(--muted-foreground) / 0.5);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

@theme inline {
  --font-sans: var(--font-manrope);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
